# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github\Build-Week-Spotify\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
